<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Approval Due Date</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:approval-due-date</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Approval Status</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:approval-status</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Billable Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:billable-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Waiting For Payment Amount</string>
		<key>uri</key>
		<string>expense-sheet-list-column:billed-billing-status-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Waiting on Approver</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:currently-waiting-on-approver</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Date</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:date</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Description</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:description</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Expense</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:expense-sheet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Billing Status</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:expense-sheet-billing-status</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Employee</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:expense-sheet-owner</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Payment Status</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:expense-sheet-payment-status</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Receipts</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:has-expense-receipts</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Incurred Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:incurred-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reimbursed</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:is-reimbursed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Non-Billable Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:non-billable-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paid Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:paid-billing-status-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reimbursement Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:reimbursement-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Submitted Amount</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:submitted-billing-status-amount</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Submitted On</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:submitted-on-date-time</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tracking Number</string>
		<key>uri</key>
		<string>urn:replicon:expense-sheet-list-column:tracking-number</string>
	</dict>
</array>
</plist>
