<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GetUserIntegrationDetails</key>
	<string>DiscoveryService1.svc/GetUserIntegrationDetails</string>
	<key>GetHomeSummary</key>
	<string>mobile/HomeFlowService1.svc/GetMyHomeSummary</string>
	<key>GetTimesheetData</key>
	<string>TimesheetListService1.svc/GetData</string>
	<key>GetTimesheetSummaryData</key>
	<string>mobile/TimesheetFlowservice1.svc/Load3</string>
	<key>GetAllTimeOffTypes</key>
	<string>TimeOffTypeListService1.svc/GetData</string>
	<key>GetTimeSheetApprovalSummaryData</key>
	<string>mobile-backend/timesheet/approver/list</string>
	<key>BulkApproveTimesheets</key>
	<string>mobile/approvalflowservice1.svc/BulkApproveTimesheets2</string>
	<key>BulkRejectTimesheets</key>
	<string>mobile/approvalflowservice1.svc/BulkRejectTimesheets2</string>
	<key>GetFirstClientsOrProjects</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstProjectsAndClientsForTimesheet</string>
	<key>GetFirstClients</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstClientsForTimesheet</string>
	<key>GetFirstProjects</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstProjectsForTimesheet</string>
	<key>GetNextClients</key>
	<string>TimesheetService1.svc/GetPageOfClientsAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>GetNextProjects</key>
	<string>TimesheetService1.svc/GetPageOfProjectsAvailableForTimeAllocationFilteredByClientAndTextSearch</string>
	<key>GetFirstTasks</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstTasksForTimesheet</string>
	<key>GetNextTasks</key>
	<string>mobile/TimesheetFlowservice1.svc/GetTasksForTimesheet</string>
	<key>GetBillingData</key>
	<string>TimesheetService1.svc/GetPageOfBillingRatesAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>GetActivityData</key>
	<string>TimesheetService1.svc/GetPageOfActivitiesAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>GetFirstBillingRatesForTimesheet</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstBillingRatesForTimesheet</string>
	<key>GetFirstActivitiesForTimesheet</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstActivitiesForTimesheet</string>
	<key>SaveTimesheetData</key>
	<string>mobile/TimesheetFlowservice1.svc/Save3</string>
	<key>GetExpenseSheetData</key>
	<string>ExpenseSheetListService1.svc/GetData</string>
	<key>GetExpenseEntryData</key>
	<string>mobile/ExpenseFlowService1.svc/Load</string>
	<key>GetCurrencyAndPaymentMethodData</key>
	<string>mobile/ExpenseFlowService1.svc/GetExpenseEntryCreationSupportDataDetails</string>
	<key>GetFirstProjectsAndClientsForExpenseSheet</key>
	<string>mobile/ExpenseFlowService1.svc/GetFirstProjectsAndClientsForExpenseSheet</string>
	<key>GetNextClientForExpense</key>
	<string>ExpenseService1.svc/GetPageOfClientsAvailableForExpenseEntryFilteredByTextSearch</string>
	<key>GetNextProjectForExpense</key>
	<string>ExpenseService1.svc/GetPageOfProjectsAvailableForExpenseEntryFilteredByClientAndTextSearch</string>
	<key>GetExpenseCodesForExpenseSheet</key>
	<string>mobile/ExpenseFlowService1.svc/GetFirstExpenseCodesForExpenseSheet</string>
	<key>GetNextExpenseCodesForExpenseSheet</key>
	<string>ExpenseService1.svc/GetPageOfExpenseCodesAvailableForExpenseEntryFilteredByProjectAndTextSearch</string>
	<key>SubmitTimesheetData</key>
	<string>mobile/TimesheetFlowService1.svc/Submit7</string>
	<key>UnsubmitTimesheetData</key>
	<string>mobile/TimesheetFlowService1.svc/Reopen3</string>
	<key>SubmitExpensesData</key>
	<string>mobile/ExpenseFlowService1.svc/Submit</string>
	<key>UnsubmitExpensesData</key>
	<string>ExpenseApprovalService1.svc/Unsubmit</string>
	<key>ExpenseReceiptImage</key>
	<string>ExpenseService1.svc/GetExpenseReceiptDetails</string>
	<key>DeleteExpenseSheet</key>
	<string>ExpenseService1.svc/DeleteExpenseSheet</string>
	<key>GetExpenseCodeDetails</key>
	<string>ExpenseService1.svc/GetExpenseCodeDetailsForEnteringExpenseAgainstProject</string>
	<key>CreateNewExpenseSheet</key>
	<string>mobile/ExpenseFlowService1.svc/Save</string>
	<key>SaveExpenseSheet</key>
	<string>mobile/ExpenseFlowService1.svc/Save</string>
	<key>GetExpenseApprovalSummaryData</key>
	<string>ExpenseSheetListService1.svc/GetData</string>
	<key>BulkApproveExpenseSheets</key>
	<string>mobile/approvalflowservice1.svc/BulkApproveExpenseSheets2</string>
	<key>BulkRejectExpenseSheets</key>
	<string>mobile/approvalflowservice1.svc/BulkRejectExpenseSheets2</string>
	<key>GetTimeoffData</key>
	<string>mobile/TimeoffFlowservice1.svc/GetMyTimeOffLandingSummary2</string>
	<key>GetNextTimeoffData</key>
	<string>mobile/TimeOffFlowService1.svc/GetData</string>
	<key>GetRefreshedTimeoffData</key>
	<string>mobile/TimeoffFlowservice1.svc/GetMyTimeOffLandingSummary2</string>
	<key>GetCompanyHolidays</key>
	<string>HolidayCalendarService1.svc/GetHolidaysInDateRange</string>
	<key>BulkApproveTimeOffs</key>
	<string>mobile/approvalflowservice1.svc/BulkApproveTimeOff2</string>
	<key>BulkRejectTimeOffs</key>
	<string>mobile/approvalflowservice1.svc/BulkRejectTimeOff2</string>
	<key>GetTimeoffEntryData</key>
	<string>mobile/timeoffflowservice1.svc/Load</string>
	<key>SaveTimeoffData</key>
	<string>mobile/timeoffflowservice1.svc/Submit</string>
	<key>DeleteTimeOffData</key>
	<string>TimeOffService1.svc/DeleteTimeOff</string>
	<key>GetTimeOffBalanceSummaryAfterTimeOff</key>
	<string>mobile/TimeOffFlowService1.svc/GetBalanceSummaryForProposedTimeOff</string>
	<key>GetDropDownOption</key>
	<string>CustomFieldService1.svc/GetPageOfEnabledCustomFieldDropDownOptions</string>
	<key>LogoutMySession</key>
	<string>SessionService1.svc/LogoutMySession</string>
	<key>ResubmitTimeOffData</key>
	<string>mobile/timeoffFlowservice1.svc/Resubmit</string>
	<key>GetPageOfTimeOffTypesAvailableForTimeAllocationFilteredByTextSearch</key>
	<string>TimesheetService1.svc/GetPageOfTimeOffTypesAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>UpdateMySessionTimeoutDuration</key>
	<string>UserSessionManagementService1.svc/UpdateMySessionTimeoutDuration</string>
	<key>GetVersionUpdateDetails</key>
	<string>ApplicationMetadataService1.svc/GetVersionUpdateDetails</string>
	<key>GetTimesheetUpdateData</key>
	<string>TimesheetListService1.svc/GetCacheUpdateData</string>
	<key>GetExpenseSheetUpdateData</key>
	<string>ExpenseSheetListService1.svc/GetCacheUpdateData</string>
	<key>GetBreakData</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstBreakTypesForTimesheet</string>
	<key>GetNextBreakData</key>
	<string>TimesheetService1.svc/GetPageOfBreakTypesAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>GetFirstTimesheets</key>
	<string>mobile/TimesheetFlowService1.svc/GetOrCreateFirstTimesheets</string>
	<key>CreateTimesheetsDataOnlyWhenUpdateFetchDataFails</key>
	<string>mobile/TimesheetFlowService1.svc/GetOrCreateFirstTimesheets</string>
	<key>GetShiftSummarySeries</key>
	<string>ShiftAssignmentService1.svc/GetShiftSummarySeries</string>
	<key>ResetPassword</key>
	<string>AuthenticationService1.svc/UpdatePassword</string>
	<key>Attendance_GetFirstClientsOrProjects</key>
	<string>mobile/TimePunchFlowService1.svc/GetFirstProjectsAndClients</string>
	<key>Attendance_GetClients</key>
	<string>mobile/TimePunchFlowService1.svc/GetClients</string>
	<key>Attendance_GetProjects</key>
	<string>mobile/TimePunchFlowService1.svc/GetProjects</string>
	<key>Attendance_GetTasks</key>
	<string>mobile/TimePunchFlowService1.svc/GetTasks</string>
	<key>Attendance_GetBilling</key>
	<string>mobile/TimePunchFlowService1.svc/GetBillingRates</string>
	<key>Attendance_GetActivity</key>
	<string>mobile/TimePunchFlowService1.svc/GetActivities</string>
	<key>GetFirstTeamTimeData</key>
	<string>mobile/TimePunchFlowService1.svc/GetPageOfUserTimeSegmentLoadSummariesForDate</string>
	<key>GetMostRecentValidationResult</key>
	<string>TimePunchService1.svc/GetMostRecentValidationResult</string>
	<key>EmployeeTimesheetViolations</key>
	<string>mobile/TimePunchFlowService1.svc/GetWidgetTimesheetValidationsSummary</string>
	<key>SubmitEditOrNewPunchData</key>
	<string>mobile/TimePunchFlowService1.svc/PutTimePunch</string>
	<key>DeletePunch</key>
	<string>mobile/TimePunchFlowService1.svc/BulkDeleteTimePunches</string>
	<key>GetActivitiesForUser</key>
	<string>mobile/TimePunchFlowService1.svc/GetActivitiesForUser</string>
	<key>CheckEmailExistence</key>
	<string>checkEmailExistence</string>
	<key>CheckEmailExistence_NewMarketingService</key>
	<string>marketing/trial-creation/checkEmailExistence</string>
	<key>GetCompanyKey</key>
	<string>getCompanyKey</string>
	<key>GetCompanyKey_NewMarketingService</key>
	<string>marketing/trial-creation/getCompanyKey</string>
	<key>CreateMobileInstance</key>
	<string>createMobileInstance</string>
	<key>CreateMobileInstance_NewMarketingService</key>
	<string>marketing/trial-creation/createMobileInstance</string>
	<key>LastPunchData</key>
	<string>TimePunchService1.svc/GetLatestTimePunchDetailsForUser</string>
	<key>GetBreakTypeListForUser</key>
	<string>TimePunchService1.svc/GetPageOfBreakTypesAvailableForUserFilteredByTextSearch</string>
	<key>GetTimePunchAuditDetailsForUserAndDate</key>
	<string>TimePunchService1.svc/GetTimePunchAuditDetailsForUserAndDate</string>
	<key>GetTimePunchAuditRecordDetails</key>
	<string>TimePunchService1.svc/GetTimePunchAuditRecordDetails</string>
	<key>MobileGetTimePunchAuditRecordDetails</key>
	<string>timepunch/audit</string>
	<key>GetTimesheetFormat</key>
	<string>TimesheetService1.svc/GetTimesheetForDate2</string>
	<key>Gen4SubmitTimesheetData</key>
	<string>mobile/TimesheetFlowService1.svc/Submit8</string>
	<key>Gen4UnSubmitTimesheetData</key>
	<string>mobile/TimesheetFlowService1.svc/Reopen3</string>
	<key>Gen4TimeheetApprovalSummary</key>
	<string>TimesheetApprovalService1.svc/GetTimesheetApprovalDetails</string>
	<key>Gen4TimesheetTimeoffSummary</key>
	<string>TimeOffService1.svc/GetTimeOffDetailsForUserAndDateRange</string>
	<key>RegisterForPushNotifications</key>
	<string>mobile/HomeFlowService1.svc/RegisterForPushNotifications</string>
	<key>AssignPolicySetToUser</key>
	<string>PolicySetService1.svc/AssignPolicySetToUser</string>
	<key>GetPolicyUriFromSlug</key>
	<string>PolicySetService1.svc/GetUriFromSlug</string>
	<key>GetUserByUserName</key>
	<string>UserService1.svc/GetUser2</string>
	<key>Gen4TimesheetValidation</key>
	<string>mobile/TimesheetFlowService1.svc/RecalculateScriptDataAndGetValidationResult</string>
	<key>Gen4GetPunchesForTimesheet</key>
	<string>TimePunchService1.svc/GetAllTimeSegmentsForTimesheet</string>
	<key>AcknowledgeValidationWaiver</key>
	<string>TimePunchService1.svc/AcknowledgeValidationWaiver</string>
	<key>ShiftFetchTimeOffList</key>
	<string>mobile/TimeoffFlowservice1.svc/GetMySchedulesLandingSummary2</string>
	<key>GetMyNotificationSummary</key>
	<string>mobile/HomeFlowService1.svc/GetMyNotificationSummary</string>
	<key>getServerDownStatus</key>
	<string>getsystemdowntimeinfoformobile</string>
	<key>getServerDownStatus_NewMarketingService</key>
	<string>support/downtime/getSystemDownTimeInfoForMobile</string>
	<key>ContactMobileSupport_NewMarketingService</key>
	<string>reporting/appError</string>
	<key>SubmitTimesheetDataForLockedInOut</key>
	<string>mobile/TimesheetFlowService1.svc/Submit8</string>
	<key>GetTenantFromCompanyKey</key>
	<string>TenantService1.svc/GetTenantFromCompanyKey</string>
	<key>createPasswordResetRequest</key>
	<string>SecurityService1.svc/CreatePasswordResetRequest</string>
	<key>GetFirstProgramsOrProjects</key>
	<string>mobile/TimesheetFlowservice1.svc/GetFirstProjectsAndProgramsForTimesheet</string>
	<key>GetFirstPrograms</key>
	<string>mobile/TimesheetFlowService1.svc/GetFirstProgramsForTimesheet</string>
	<key>GetNextPrograms</key>
	<string>TimesheetService1.svc/GetPageOfProgramsAvailableForTimeAllocationFilteredByTextSearch</string>
	<key>GetProjectsBasedOnPrograms</key>
	<string>TimesheetService1.svc/GetPageOfProjectsAvailableForTimeAllocationFilteredByProgramAndTextSearch</string>
	<key>BulkGetUserHolidaySeries</key>
	<string>HolidayCalendarService1.svc/BulkGetUserHolidaySeries</string>
	<key>RecalculateScriptData</key>
	<string>TimesheetService1.svc/EnqueueRecalculateScriptData</string>
	<key>GetHomeSummary2</key>
	<string>mobile/HomeFlowService1.svc/GetMyHomeSummary2</string>
	<key>SaveWidgetTimesheetData</key>
	<string>mobile/TimesheetFlowService1.svc/PutTimesheetTimeEntries</string>
	<key>BulkPunchWithCreatedAtTime</key>
	<string>mobile-backend/TimePunchFlowService1.svc/BulkPunchWithCreatedAtTime2</string>
	<key>GetTimesheetSummary</key>
	<string>mobile-backend/TimesheetFlowService1.svc/GetTimesheetSummary</string>
	<key>GetTeamTimePunchOverviewSummary</key>
	<string>mobile/TimePunchFlowService1.svc/GetTeamTimePunchOverviewSummary</string>
	<key>GetAllUserTimeSegmentTimeOffDetailsForDate</key>
	<string>mobile/TimePunchFlowService1.svc/GetAllUserTimeSegmentTimeOffDetailsForDate</string>
	<key>GetTeamTimesheetOverviewSummary</key>
	<string>mobile/TimesheetFlowService1.svc/GetTeamTimesheetOverviewSummary</string>
	<key>GetTimePunchDetailsForUserAndDateRange</key>
	<string>TimePunchService1.svc/GetTimePunchDetailsForUserAndDateRange</string>
	<key>PutTimePunch</key>
	<string>mobile/TimePunchFlowService1.svc/BulkPutTimePunch</string>
	<key>GetTeamChartSummary</key>
	<string>mobile/TimePunchFlowService1.svc/GetNumberOfTimePunchUsersPunchedInTimeSeries</string>
	<key>UpdateTimesheetAttestationStatus</key>
	<string>TimesheetService1.svc/UpdateTimesheetAttestationStatus</string>
	<key>SendPasswordResetRequestEmail</key>
	<string>SecurityService1.svc/SendPasswordResetRequestEmail</string>
	<key>GetTeamTimeOffSummary</key>
	<string>mobile/TimeOffFlowService1.svc/GetTeamTimeOffSummary2</string>
	<key>GetPageOfObjectExtensionTagsFilteredBySearch</key>
	<string>ObjectExtensionTagService1.svc/GetPageOfObjectExtensionTagsFilteredBySearch</string>
	<key>GetPunchClients</key>
	<string>mobile/TimePunchFlowService1.svc/GetPageOfClientsAvailableForUserFilteredByTextSearch</string>
	<key>GetPunchProjects</key>
	<string>mobile/TimePunchFlowService1.svc/GetPageOfProjectsAvailableForUserFilteredByClientAndTextSearch</string>
	<key>GetPunchTasks</key>
	<string>mobile/TimePunchFlowService1.svc/GetPageOfTasksAvailableForUserByProjectAndTextSearch</string>
	<key>GetPunchActivities</key>
	<string>mobile/TimePunchFlowService1.svc/GetActivitiesForUser</string>
	<key>GetExpenseClients</key>
	<string>mobile/ExpenseFlowService1.svc/GetPageOfClientsAvailableForExpenseEntryFilteredByTextSearch</string>
	<key>GetExpenseProjects</key>
	<string>mobile/ExpenseFlowService1.svc/GetPageOfProjectsAvailableForExpenseEntryFilteredByClientAndTextSearch</string>
	<key>GetExpenseTasks</key>
	<string>mobile/ExpenseFlowService1.svc/GetTasksForExpenseSheet</string>
	<key>Attendance_TimePunchIn</key>
	<string>mobile/TimePunchFlowService1.svc/PunchIn</string>
	<key>Attendance_TimePunchOut</key>
	<string>mobile/TimePunchFlowService1.svc/PunchOut</string>
	<key>Attendance_PunchStartBreak</key>
	<string>mobile/TimePunchFlowService1.svc/PunchStartBreak</string>
	<key>Attendance_TimeTransfer</key>
	<string>mobile/TimePunchFlowService1.svc/PunchTransfer</string>
	<key>ErrorDetails_Validation</key>
	<string>mobile-backend/validations</string>
	<key>GetMyTimePunchDetailsForDateRangeAndLastTwoPunchDetails</key>
	<string>mobile-backend/TimePunchFlowService1.svc/GetMyTimePunchDetailsForDateRangeAndLastTwoPunchDetails</string>
	<key>BulkGetObjectExtensionFieldBindingsForUsers</key>
	<string>mobile/TimePunchFlowService1.svc/BulkGetObjectExtensionFieldBindingsForUsers</string>
	<key>SubmitTimeSheet</key>
	<string>mobile-backend/timesheet/submitsummarize</string>
	<key>ReopenTimeSheet</key>
	<string>mobile-backend/timesheet/reopenSummarize</string>
	<key>BookmarkValidation</key>
	<string>mobile-backend/project/validateClientProjectTask</string>
	<key>NewTimeLineSummary</key>
	<string>mobile-backend/timesheet/widget/timeline</string>
	<key>TimelineExtras</key>
	<string>mobile-backend/timesheet/widget/timeline/extras</string>
	<key>GetAuditHistoryForPunches</key>
	<string>timepunch/audit</string>
	<key>TimelinePunches</key>
	<string>mobile-backend/timepunch/timeline/and-last-two-punches</string>
	<key>GetCurrentDateViolations</key>
	<string>mobile-backend/timepunch/timeline/violations</string>
	<key>BookingParams</key>
	<string>mobile-backend/timeoff/booking/params</string>
	<key>TimeoffBalance</key>
	<string>mobile-backend/timeoff/balance</string>
	<key>MultiDayTimeoffSubmit</key>
	<string>mobile-backend/timeoff/submit</string>
	<key>MultiDayTimeoffReSubmit</key>
	<string>mobile-backend/timeoff/resubmit</string>
	<key>TimesheetWidgets</key>
	<string>mobile-backend/timesheet/widget</string>
	<key>WidgetPolicies</key>
	<string>mobile-backend/timesheet/policy</string>
	<key>WidgetTimesheetSummary</key>
	<string>mobile-backend/timesheet/widget/summary</string>
	<key>WidgetTimesheetSubmit</key>
	<string>mobile-backend/timesheet/submit</string>
	<key>WidgetTimesheetReopen</key>
	<string>mobile-backend/timesheet/reopen</string>
	<key>PunchWidget</key>
	<string>mobile-backend/timesheet/widget/time/punches</string>
	<key>BulkPunchWithCreatedAtTime3</key>
	<string>mobile-backend/TimePunchFlowService1.svc/BulkPunchWithCreatedAtTime3</string>
	<key>PutTimePunch2</key>
	<string>mobile/TimePunchFlowService1.svc/BulkPutTimePunch2</string>
</dict>
</plist>
