<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserIntegrationDetails</key>
	<integer>0</integer>
	<key>HomeSummaryDetails</key>
	<integer>1</integer>
	<key>GetTimesheetData</key>
	<integer>2</integer>
	<key>GetNextRecentTimesheetData</key>
	<integer>3</integer>
	<key>GetTimesheetSummaryData</key>
	<integer>4</integer>
	<key>GetPendingApprovalsTimesheetSummaryData</key>
	<integer>7</integer>
	<key>GetPreviousApprovalsTimesheetSummaryData</key>
	<integer>8</integer>
	<key>BulkApproveTimesheets</key>
	<integer>9</integer>
	<key>BulkRejectTimesheets</key>
	<integer>10</integer>
	<key>GetNextPendingApprovalsTimesheetSummaryData</key>
	<integer>11</integer>
	<key>GetNextPreviousApprovalsTimesheetSummaryData</key>
	<integer>12</integer>
	<key>GetFirstClientsOrProjects</key>
	<integer>13</integer>
	<key>GetNextClients</key>
	<integer>14</integer>
	<key>GetNextProjects</key>
	<integer>15</integer>
	<key>GetFirstTasks</key>
	<integer>16</integer>
	<key>GetNextTasks</key>
	<integer>17</integer>
	<key>GetProjectsBasedOnClient</key>
	<integer>18</integer>
	<key>GetNextProjectsBasedOnClients</key>
	<integer>19</integer>
	<key>GetFirstClients</key>
	<integer>20</integer>
	<key>GetFirstProjects</key>
	<integer>21</integer>
	<key>GetBillingData</key>
	<integer>22</integer>
	<key>GetNextBillingData</key>
	<integer>23</integer>
	<key>GetActivityData</key>
	<integer>24</integer>
	<key>GetNextActivityData</key>
	<integer>25</integer>
	<key>SaveTimesheetData</key>
	<integer>26</integer>
	<key>GetExpenseSheetData</key>
	<integer>27</integer>
	<key>GetNextExpenseSheetData</key>
	<integer>28</integer>
	<key>GetExpenseEntryData</key>
	<integer>29</integer>
	<key>GetCurrencyAndPaymentMethodData</key>
	<integer>30</integer>
	<key>GetFirstProjectsAndClientsForExpenseSheet</key>
	<integer>31</integer>
	<key>GetNextClientForExpense</key>
	<integer>34</integer>
	<key>GetNextProjectForExpense</key>
	<integer>35</integer>
	<key>GetExpenseCodesForExpenseSheet</key>
	<integer>36</integer>
	<key>GetProjectsBasedOnClientForExpenseSheet</key>
	<integer>37</integer>
	<key>GetNextProjectsBasedOnClientsForExpense</key>
	<integer>38</integer>
	<key>SubmitTimesheetData</key>
	<integer>39</integer>
	<key>UnsubmitTimesheetData</key>
	<integer>40</integer>
	<key>SubmitExpensesData</key>
	<integer>41</integer>
	<key>UnsubmitExpensesData</key>
	<integer>42</integer>
	<key>ExpenseReceiptImage</key>
	<integer>43</integer>
	<key>DeleteExpenseSheet</key>
	<integer>44</integer>
	<key>GetExpenseCodeDetails</key>
	<integer>45</integer>
	<key>CreateNewExpenseSheet</key>
	<integer>46</integer>
	<key>SaveExpenseSheet</key>
	<integer>47</integer>
	<key>GetPendingApprovalsExpenseSheetSummaryData</key>
	<integer>48</integer>
	<key>GetNextPendingApprovalsExpenseSheetSummaryData</key>
	<integer>49</integer>
	<key>BulkApproveExpenseSheets</key>
	<integer>50</integer>
	<key>BulkRejectExpenseSheets</key>
	<integer>51</integer>
	<key>GetPreviousApprovalsExpenseSummaryData</key>
	<integer>52</integer>
	<key>GetNextPreviousApprovalsExpenseSummaryData</key>
	<integer>53</integer>
	<key>GetTimeoffData</key>
	<integer>54</integer>
	<key>GetNextTimeoffData</key>
	<integer>55</integer>
	<key>GetRefreshedTimeoffData</key>
	<integer>56</integer>
	<key>GetCompanyHolidays</key>
	<integer>57</integer>
	<key>GetPendingApprovalsTimeOffsSummaryData</key>
	<integer>58</integer>
	<key>GetNextPendingApprovalsTimeOffsSummaryData</key>
	<integer>59</integer>
	<key>BulkApproveTimeOffs</key>
	<integer>60</integer>
	<key>BulkRejectTimeOffs</key>
	<integer>61</integer>
	<key>GetPreviousApprovalsTimeOffsSummaryData</key>
	<integer>62</integer>
	<key>GetNextPreviousApprovalsTimeOffsSummaryData</key>
	<integer>63</integer>
	<key>GetTimeoffEntryData</key>
	<integer>64</integer>
	<key>SaveTimeoffData</key>
	<integer>65</integer>
	<key>DeleteTimeOffData</key>
	<integer>66</integer>
	<key>GetTimeOffBalanceSummaryAfterTimeOff</key>
	<integer>67</integer>
	<key>GetDropDownOption</key>
	<integer>68</integer>
	<key>GetNextDropDownOption</key>
	<integer>69</integer>
	<key>LogoutMySession</key>
	<integer>70</integer>
	<key>ResubmitTimeOffData</key>
	<integer>71</integer>
	<key>UpdateMySessionTimeoutDuration</key>
	<integer>72</integer>
	<key>CurrentGenFetchRemoteApiUrl</key>
	<integer>73</integer>
	<key>GetVersionUpdateDetails</key>
	<integer>74</integer>
	<key>GetPageOfTimeOffTypesAvailableForTimeAllocationFilteredByTextSearch</key>
	<integer>75</integer>
	<key>GetApprovalPendingTimesheetSummaryData</key>
	<integer>77</integer>
	<key>ApproveTimesheet</key>
	<integer>78</integer>
	<key>RejectTimesheet</key>
	<integer>79</integer>
	<key>ApprovalTimeOff</key>
	<integer>80</integer>
	<key>RejectTimeOff</key>
	<integer>81</integer>
	<key>ApproveExpensesheet</key>
	<integer>82</integer>
	<key>RejectExpensesheet</key>
	<integer>83</integer>
	<key>GetApprovalPreviousTimesheetSummaryData</key>
	<integer>84</integer>
	<key>GetPreviousExpenseEntryData</key>
	<integer>85</integer>
	<key>GetPreviousTimeoffEntryData</key>
	<integer>86</integer>
	<key>GetTimesheetUpdateData</key>
	<integer>87</integer>
	<key>GetExpenseSheetUpdateData</key>
	<integer>88</integer>
	<key>UserIntegrationDetailsiOS7</key>
	<integer>89</integer>
	<key>GetBreakData</key>
	<integer>90</integer>
	<key>GetNextBreakData</key>
	<integer>91</integer>
	<key>GetNextExpenseCodesForExpenseSheet</key>
	<integer>92</integer>
	<key>GetFirstTimesheets</key>
	<integer>93</integer>
	<key>PutTimePunch</key>
	<integer>94</integer>
	<key>ConcatenatePutTimePunch</key>
	<integer>95</integer>
	<key>GetShiftSummarySeries</key>
	<integer>96</integer>
	<key>Attendance_PutTimePunch</key>
	<integer>97</integer>
	<key>Attendance_TimeTransfer</key>
	<integer>98</integer>
	<key>Attendance_PunchStartBreak</key>
	<integer>99</integer>
	<key>Attendance_ConcatenatePutTimePunch</key>
	<integer>100</integer>
	<key>GetFirstTeamTimeData</key>
	<integer>101</integer>
	<key>ResetPassword</key>
	<integer>103</integer>
	<key>SubmitEditOrNewPunchData</key>
	<integer>104</integer>
	<key>DeletePunch</key>
	<integer>105</integer>
	<key>GetActivitiesForUser</key>
	<integer>106</integer>
	<key>GetNextActivitiesForUser</key>
	<integer>107</integer>
	<key>GetTrialSignupInfoByEmail</key>
	<integer>110</integer>
	<key>GetCompanyNameUniquenessDetails</key>
	<integer>111</integer>
	<key>ExecuteCreateTrial</key>
	<integer>112</integer>
	<key>UserIntegrationDetailsForFreeTrial</key>
	<integer>113</integer>
	<key>GetTimesheetFormat</key>
	<integer>115</integer>
	<key>GetPreviousTimesheetFormat</key>
	<integer>116</integer>
	<key>GetPreviousGen4TimesheetSummaryData</key>
	<integer>121</integer>
	<key>Gen4SubmitTimesheetData</key>
	<integer>122</integer>
	<key>Gen4UnSubmitTimesheetData</key>
	<integer>123</integer>
	<key>Gen4TimeheetApprovalSummary</key>
	<integer>125</integer>
	<key>GetGen4PendingTimesheetEffectivePolicyData</key>
	<integer>126</integer>
	<key>GetGen4PreviousTimesheetEffectivePolicyData</key>
	<integer>127</integer>
	<key>Gen4TimesheetTimeoffSummary</key>
	<integer>128</integer>
	<key>GetPreviousGen4TimesheetTimeoffSummaryData</key>
	<integer>129</integer>
	<key>LastPunchData</key>
	<integer>130</integer>
	<key>RegisterForPushNotifications</key>
	<integer>131</integer>
	<key>GetTimePunchAuditDetailsForUserAndDate</key>
	<integer>132</integer>
	<key>GetTimePunchAuditRecordDetails</key>
	<integer>133</integer>
	<key>Gen4PendingTimeheetApprovalSummary</key>
	<integer>135</integer>
	<key>Gen4PreviousTimeheetApprovalSummary</key>
	<integer>136</integer>
	<key>Gen4TimesheetValidation</key>
	<integer>137</integer>
	<key>CreateTimesheetsDataOnlyWhenUpdateFetchDataFails</key>
	<integer>139</integer>
	<key>Gen4GetPunchesForTimesheet</key>
	<integer>138</integer>
	<key>Gen4PendingGetPunchesForTimesheet</key>
	<integer>140</integer>
	<key>Gen4PreviousGetPunchesForTimesheet</key>
	<integer>141</integer>
	<key>ShiftFetchTimeOffList</key>
	<integer>144</integer>
	<key>GetUserByUserName</key>
	<integer>145</integer>
	<key>GetPolicyUriFromSlug</key>
	<integer>146</integer>
	<key>AssignPolicySetToUser</key>
	<integer>147</integer>
	<key>GetMyNotificationSummary</key>
	<integer>148</integer>
	<key>ContactMobileSupport</key>
	<integer>149</integer>
	<key>getServerDownStatus</key>
	<integer>150</integer>
	<key>GetTenantFromCompanyKey</key>
	<integer>151</integer>
	<key>createPasswordResetRequest</key>
	<integer>152</integer>
	<key>GetFirstProgramsOrProjects</key>
	<integer>153</integer>
	<key>GetProjectsBasedOnPrograms</key>
	<integer>154</integer>
	<key>GetFirstPrograms</key>
	<integer>155</integer>
	<key>GetNextPrograms</key>
	<integer>156</integer>
	<key>BulkGetUserHolidaySeries</key>
	<integer>157</integer>
	<key>GetHomeSummary2</key>
	<integer>158</integer>
	<key>GetDefaultBillingData</key>
	<integer>159</integer>
	<key>RecalculateScriptData</key>
	<integer>160</integer>
	<key>SaveWidgetTimesheetData</key>
	<integer>161</integer>
	<key>UpdateTimesheetAttestationStatus</key>
	<integer>164</integer>
	<key>SendPasswordResetRequestEmail</key>
	<integer>170</integer>
	<key>GetPageOfObjectExtensionTagsFilteredBySearch</key>
	<integer>171</integer>
	<key>GetNextPageOfObjectExtensionTagsFilteredBySearch</key>
	<integer>172</integer>
</dict>
</plist>
