{
    d =     {
        approvalDetails =         {
            approvalStatus =             {
                displayText = Approved;
                uri = "urn:replicon:approval-status:approved";
            };
            asOfDateTime = "<null>";
            history =             (
                                {
                    action =                     {
                        displayText = Submit;
                        uri = "urn:replicon:approval-action:submit";
                    };
                    approvalAgent =                     {
                        approvalAgentType = "urn:replicon:approval-agent-type:user";
                        systemApprovalProcessUri = "<null>";
                        user =                         {
                            displayText = "Matta, Suzanne";
                            loginName = "smatta@impconsults.com";
                            slug = smattaimpconsultscom;
                            uri = "urn:replicon-tenant:imp-consults-pg1:user:16";
                        };
                    };
                    authority =                     {
                        actingForUser = "<null>";
                        actingUser =                         {
                            displayText = "Matta, Suzanne";
                            loginName = "smatta@impconsults.com";
                            slug = smattaimpconsultscom;
                            uri = "urn:replicon-tenant:imp-consults-pg1:user:16";
                        };
                        authorityType =                         {
                            displayText = "A user acting on their own";
                            uri = "urn:replicon:authority-type:user";
                        };
                        displayText = "Matta, Suzanne";
                    };
                    comments = "<null>";
                    timestamp =                     {
                        day = 21;
                        hour = 14;
                        minute = 12;
                        month = 3;
                        second = 28;
                        timeZone =                         {
                            displayText = "(UTC-5:00) Eastern Standard Time";
                            uri = "urn:replicon:time-zone:america-new-york";
                        };
                        valueInUtc =                         {
                            day = 21;
                            hour = 18;
                            millisecond = 602;
                            minute = 12;
                            month = 3;
                            second = 28;
                            year = 2016;
                        };
                        year = 2016;
                    };
                },
                                {
                    action =                     {
                        displayText = Approve;
                        uri = "urn:replicon:approval-action:approve";
                    };
                    approvalAgent =                     {
                        approvalAgentType = "urn:replicon:approval-agent-type:system";
                        systemApprovalProcessUri = "urn:replicon:approval-system-process:timesheet-submit-script-data-and-validation";
                        user = "<null>";
                    };
                    authority =                     {
                        actingForUser = "<null>";
                        actingUser = "<null>";
                        authorityType =                         {
                            displayText = System;
                            uri = "urn:replicon:authority-type:system";
                        };
                        displayText = System;
                    };
                    comments = "<null>";
                    timestamp =                     {
                        day = 21;
                        hour = 14;
                        minute = 12;
                        month = 3;
                        second = 28;
                        timeZone =                         {
                            displayText = "(UTC-5:00) Eastern Standard Time";
                            uri = "urn:replicon:time-zone:america-new-york";
                        };
                        valueInUtc =                         {
                            day = 21;
                            hour = 18;
                            millisecond = 914;
                            minute = 12;
                            month = 3;
                            second = 28;
                            year = 2016;
                        };
                        year = 2016;
                    };
                },
                                {
                    action =                     {
                        displayText = Approve;
                        uri = "urn:replicon:approval-action:approve";
                    };
                    approvalAgent =                     {
                        approvalAgentType = "urn:replicon:approval-agent-type:system";
                        systemApprovalProcessUri = "urn:replicon:approval-system-process:approval-coodinator";
                        user = "<null>";
                    };
                    authority =                     {
                        actingForUser = "<null>";
                        actingUser = "<null>";
                        authorityType =                         {
                            displayText = System;
                            uri = "urn:replicon:authority-type:system";
                        };
                        displayText = System;
                    };
                    comments = "System approved - Timesheet had no approvers for Project Leader role";
                    timestamp =                     {
                        day = 21;
                        hour = 14;
                        minute = 12;
                        month = 3;
                        second = 28;
                        timeZone =                         {
                            displayText = "(UTC-5:00) Eastern Standard Time";
                            uri = "urn:replicon:time-zone:america-new-york";
                        };
                        valueInUtc =                         {
                            day = 21;
                            hour = 18;
                            millisecond = 914;
                            minute = 12;
                            month = 3;
                            second = 28;
                            year = 2016;
                        };
                        year = 2016;
                    };
                }
            );
            timesheet =             {
                displayText = ".smattaimpconsultscom/2016-3-14";
                slug = ".smattaimpconsultscom/2016-3-14";
                uri = "urn:replicon-tenant:imp-consults-pg1:timesheet:4eda20c0-86d1-4cab-baa1-ad97dc671a77";
            };
        };
        capabilities =         {
            activitySelectionRequired = 1;
            canDeleteTimesheet = 0;
            canEditTimesheet = 1;
            canOwnerViewPayDetails = 0;
            commentsRequiredOnResubmission = 1;
            enabledCustomFieldUris =             (
            );
            enabledEntryCustomFieldUris =             (
                "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b"
            );
            hasActivityAccess = 1;
            hasBillingAccess = 1;
            hasBreakAccess = 0;
            hasClientAccess = 1;
            hasProgramAccess = 0;
            hasProjectAccess = 1;
            overlappingTimeEntriesPermitted = 0;
            projectTaskSelectionRequired = 1;
            timePunchCapabilities = "<null>";
            timesheetCommentsRequired = 0;
            timesheetFormat = "urn:replicon:policy:timesheet:timesheet-format:standard-timesheet";
            timesheetNoticePolicyUri = "urn:replicon:policy:timesheet:explicit-notice-acceptance:not-required";
            widgetTimesheetCapabilities = "<null>";
        };
        changeReasonEntries = "<null>";
        inOutTimesheetDetails = "<null>";
        overlappingTimeoff =         (
        );
        permittedApprovalActions =         {
            canApproveReject = 0;
            canForceApproveReject = 0;
            canReopen = 1;
            canSubmit = 0;
            canUnsubmit = 0;
        };
        projectTaskDetails =         {
            projects =             (
                                {
                    client =                     {
                        displayText = "Not on Assignment";
                        name = "Not on Assignment";
                        slug = "not-on-assignment";
                        uri = "urn:replicon-tenant:imp-consults-pg1:client:86";
                    };
                    dateRangeWhereTimeAllocationIsAllowed =                     {
                        endDate =                         {
                            day = 20;
                            month = 3;
                            year = 2016;
                        };
                        startDate =                         {
                            day = 14;
                            month = 3;
                            year = 2016;
                        };
                    };
                    hasTasksAvailableForTimeAllocation = 1;
                    isTimeAllocationAllowed = 1;
                    program =                     {
                        displayText = "IMP Management";
                        name = "IMP Management";
                        slug = "imp-management";
                        uri = "urn:replicon-tenant:imp-consults-pg1:program:ec7e7d1a-522e-4760-8a98-de264dc60088";
                    };
                    project =                     {
                        displayText = "Not on Assignment";
                        name = "Not on Assignment";
                        slug = "not-on-assignment";
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:23";
                    };
                },
                                {
                    client =                     {
                        displayText = IMP;
                        name = IMP;
                        slug = imp;
                        uri = "urn:replicon-tenant:imp-consults-pg1:client:7";
                    };
                    dateRangeWhereTimeAllocationIsAllowed =                     {
                        endDate =                         {
                            day = 20;
                            month = 3;
                            year = 2016;
                        };
                        startDate =                         {
                            day = 14;
                            month = 3;
                            year = 2016;
                        };
                    };
                    hasTasksAvailableForTimeAllocation = 1;
                    isTimeAllocationAllowed = 1;
                    program =                     {
                        displayText = "IMP Management";
                        name = "IMP Management";
                        slug = "imp-management";
                        uri = "urn:replicon-tenant:imp-consults-pg1:program:ec7e7d1a-522e-4760-8a98-de264dc60088";
                    };
                    project =                     {
                        displayText = "Internal Operations";
                        name = "Internal Operations";
                        slug = imp;
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:6";
                    };
                }
            );
            tasks =             (
                                {
                    dateRangeWhereTimeAllocationIsAllowed =                     {
                        endDate =                         {
                            day = 20;
                            month = 3;
                            year = 2016;
                        };
                        startDate =                         {
                            day = 14;
                            month = 3;
                            year = 2016;
                        };
                    };
                    task =                     {
                        parentTask = "<null>";
                        task =                         {
                            displayText = "Not on Assignment";
                            uri = "urn:replicon-tenant:imp-consults-pg1:task:100";
                        };
                    };
                }
            );
        };
        standardTimesheetDetails =         {
            customFields =             (
            );
            dateRange =             {
                endDate =                 {
                    day = 20;
                    month = 3;
                    year = 2016;
                };
                startDate =                 {
                    day = 14;
                    month = 3;
                    year = 2016;
                };
            };
            dueDate =             {
                day = 21;
                month = 3;
                year = 2016;
            };
            noticeExplicitlyAccepted = 0;
            owner =             {
                displayText = "Matta, Suzanne";
                loginName = "smatta@impconsults.com";
                slug = smattaimpconsultscom;
                uri = "urn:replicon-tenant:imp-consults-pg1:user:16";
            };
            rows =             (
                                {
                    activity =                     {
                        displayText = "General Admin";
                        name = "General Admin";
                        uri = "urn:replicon-tenant:imp-consults-pg1:activity:1";
                    };
                    billingRate = "<null>";
                    cells =                     (
                                                {
                            comments = "<null>";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                                    text = RI;
                                }
                            );
                            date =                             {
                                day = 14;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 8;
                                minutes = 0;
                                seconds = 0;
                            };
                        },
                                                {
                            comments = "<null>";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                                    text = RI;
                                }
                            );
                            date =                             {
                                day = 15;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 7;
                                minutes = 0;
                                seconds = 0;
                            };
                        },
                                                {
                            comments = "<null>";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                                    text = RI;
                                }
                            );
                            date =                             {
                                day = 16;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 8;
                                minutes = 0;
                                seconds = 0;
                            };
                        },
                                                {
                            comments = "<null>";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                                    text = RI;
                                }
                            );
                            date =                             {
                                day = 17;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 8;
                                minutes = 0;
                                seconds = 0;
                            };
                        },
                                                {
                            comments = "<null>";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                                    text = RI;
                                }
                            );
                            date =                             {
                                day = 18;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 8;
                                minutes = 0;
                                seconds = 0;
                            };
                        }
                    );
                    customFieldValues =                     (
                                                {
                            customField =                             {
                                displayText = State;
                                groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                name = State;
                                uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                            };
                            customFieldType =                             {
                                displayText = "<null>";
                                uri = "urn:replicon:custom-field-type:drop-down";
                            };
                            dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:fb376537-d76b-435a-9b38-664b363ccc31";
                            text = RI;
                        }
                    );
                    project =                     {
                        displayText = "Not on Assignment";
                        name = "Not on Assignment";
                        slug = "not-on-assignment";
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:23";
                    };
                    task =                     {
                        displayText = "Not on Assignment";
                        uri = "urn:replicon-tenant:imp-consults-pg1:task:100";
                    };
                    uri = "urn:replicon-tenant:imp-consults-pg1:timesheet-task-row:9336";
                },
                                {
                    activity =                     {
                        displayText = "General Admin";
                        name = "General Admin";
                        uri = "urn:replicon-tenant:imp-consults-pg1:activity:1";
                    };
                    billingRate = "<null>";
                    cells =                     (
                                                {
                            comments = "Final Fidelity project summary per Jane's request";
                            customFieldValues =                             (
                                                                {
                                    customField =                                     {
                                        displayText = State;
                                        groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                        name = State;
                                        uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                                    };
                                    customFieldType =                                     {
                                        displayText = "<null>";
                                        uri = "urn:replicon:custom-field-type:drop-down";
                                    };
                                    dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:6c2dc252-d5f5-491c-ad19-611dd20af641";
                                    text = MA;
                                }
                            );
                            date =                             {
                                day = 15;
                                month = 3;
                                year = 2016;
                            };
                            duration =                             {
                                hours = 1;
                                minutes = 0;
                                seconds = 0;
                            };
                        }
                    );
                    customFieldValues =                     (
                                                {
                            customField =                             {
                                displayText = State;
                                groupUri = "urn:replicon-tenant:imp-consults-pg1:custom-field-group:9d46e47b-a0df-40db-8c42-4dd3accd813e";
                                name = State;
                                uri = "urn:replicon-tenant:imp-consults-pg1:user-defined-field:cf219297-7b10-46ce-a5fc-28ee10aa319b";
                            };
                            customFieldType =                             {
                                displayText = "<null>";
                                uri = "urn:replicon:custom-field-type:drop-down";
                            };
                            dropDownOption = "urn:replicon-tenant:imp-consults-pg1:custom-field-option:6c2dc252-d5f5-491c-ad19-611dd20af641";
                            text = MA;
                        }
                    );
                    project =                     {
                        displayText = "Internal Operations";
                        name = "Internal Operations";
                        slug = imp;
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:6";
                    };
                    task = "<null>";
                    uri = "urn:replicon-tenant:imp-consults-pg1:timesheet-task-row:9509";
                }
            );
            slug = ".smattaimpconsultscom/2016-3-14";
            timesheetNotice =             {
                description = "<null>";
                timesheetNoticeOptionUris =                 (
                );
                title = "<null>";
            };
            uri = "urn:replicon-tenant:imp-consults-pg1:timesheet:4eda20c0-86d1-4cab-baa1-ad97dc671a77";
        };
        timesheetSummary =         {
            actualPayableTimeCalculationStatus = "urn:replicon:actual-payable-time-calculation-status:valid";
            actualsByActivity =             (
                                {
                    activity =                     {
                        displayText = "General Admin";
                        name = "General Admin";
                        uri = "urn:replicon-tenant:imp-consults-pg1:activity:1";
                    };
                    totalTimeDuration =                     {
                        hours = 40;
                        minutes = 0;
                        seconds = 0;
                    };
                }
            );
            actualsByBillingRate =             (
                                {
                    billingRate = "<null>";
                    totalTimeDuration =                     {
                        hours = 40;
                        minutes = 0;
                        seconds = 0;
                    };
                }
            );
            actualsByDate =             (
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 14;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 0;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 15;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 1;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 0;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 16;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 0;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 17;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 0;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 18;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 0;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 8;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 19;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 1;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    breakDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    date =                     {
                        day = 20;
                        month = 3;
                        year = 2016;
                    };
                    hasComments = 0;
                    isHolidayDayOff = 0;
                    isWeeklyDayOff = 1;
                    timeOffDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    totalTimeDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                    workingTimeDuration =                     {
                        hours = 0;
                        minutes = 0;
                        seconds = 0;
                    };
                }
            );
            actualsByPaycode =             (
                                {
                    moneyValue =                     {
                        baseCurrencyValue =                         {
                            amount = 0;
                            currency =                             {
                                displayText = "USD$";
                                name = "US Dollar";
                                symbol = "USD$";
                                uri = "urn:replicon-tenant:imp-consults-pg1:currency:1";
                            };
                        };
                        baseCurrencyValueAsOfDate =                         {
                            day = 24;
                            month = 3;
                            year = 2016;
                        };
                        multiCurrencyValue =                         (
                                                        {
                                amount = 0;
                                currency =                                 {
                                    displayText = "USD$";
                                    name = "US Dollar";
                                    symbol = "USD$";
                                    uri = "urn:replicon-tenant:imp-consults-pg1:currency:1";
                                };
                            }
                        );
                    };
                    payCode =                     {
                        displayText = "Regular Time";
                        name = "Regular Time";
                        uri = "urn:replicon-tenant:imp-consults-pg1:pay-code:4";
                    };
                    payCodeMultiplier = 1;
                    totalTimeDuration =                     {
                        hours = 40;
                        minutes = 0;
                        seconds = 0;
                    };
                }
            );
            actualsByProject =             (
                                {
                    project =                     {
                        displayText = "Not on Assignment";
                        name = "Not on Assignment";
                        slug = "not-on-assignment";
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:23";
                    };
                    totalTimeDuration =                     {
                        hours = 39;
                        minutes = 0;
                        seconds = 0;
                    };
                },
                                {
                    project =                     {
                        displayText = "Internal Operations";
                        name = "Internal Operations";
                        slug = imp;
                        uri = "urn:replicon-tenant:imp-consults-pg1:project:6";
                    };
                    totalTimeDuration =                     {
                        hours = 1;
                        minutes = 0;
                        seconds = 0;
                    };
                }
            );
            approvalStatus =             {
                displayText = Approved;
                uri = "urn:replicon:approval-status:approved";
            };
            attestationStatusUri = "urn:replicon:attestation-status:unattested";
            bankedTimeDuration = "<null>";
            billableTimeDuration =             {
                hours = 0;
                minutes = 0;
                seconds = 0;
            };
            breakDuration = "<null>";
            dueDate =             {
                day = 21;
                month = 3;
                year = 2016;
            };
            nonBillableTimeDuration =             {
                hours = 40;
                minutes = 0;
                seconds = 0;
            };
            overtimeDuration = "<null>";
            scriptCalculationStatus =             {
                lastDataModification =                 {
                    day = 21;
                    hour = 14;
                    minute = 12;
                    month = 3;
                    second = 29;
                    timeZone =                     {
                        displayText = "(UTC-5:00) Eastern Standard Time";
                        uri = "urn:replicon:time-zone:america-new-york";
                    };
                    valueInUtc =                     {
                        day = 21;
                        hour = 18;
                        millisecond = 647;
                        minute = 12;
                        month = 3;
                        second = 29;
                        year = 2016;
                    };
                    year = 2016;
                };
                lastFailedAttempt = "<null>";
                lastSuccessfulAttempt =                 {
                    day = 21;
                    hour = 14;
                    minute = 12;
                    month = 3;
                    second = 29;
                    timeZone =                     {
                        displayText = "(UTC-5:00) Eastern Standard Time";
                        uri = "urn:replicon:time-zone:america-new-york";
                    };
                    valueInUtc =                     {
                        day = 21;
                        hour = 18;
                        millisecond = 696;
                        minute = 12;
                        month = 3;
                        second = 29;
                        year = 2016;
                    };
                    year = 2016;
                };
                timesheet =                 {
                    displayText = ".smattaimpconsultscom/2016-3-14";
                    slug = ".smattaimpconsultscom/2016-3-14";
                    uri = "urn:replicon-tenant:imp-consults-pg1:timesheet:4eda20c0-86d1-4cab-baa1-ad97dc671a77";
                };
            };
            timeOffTimeDuration = "<null>";
            timesheetStatus =             {
                displayText = Approved;
                uri = "urn:replicon:timesheet-status:approved";
            };
            totalTimeDuration =             {
                hours = 40;
                minutes = 0;
                seconds = 0;
            };
            workingTimeDuration =             {
                hours = 40;
                minutes = 0;
                seconds = 0;
            };
        };
        validationSummary =         {
            notifications =             (
            );
        };
        widgetTimesheetDetails = "<null>";
        widgetTimesheetSummary = "<null>";
        widgetTimesheetValidationResult = "<null>";
        widgetTimesheetValidationSummary = "<null>";
    };
} 