<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LogFolderPath</key>
	<string>/Logs/</string>
	<key>InfoLog</key>
	<string>info.log</string>
	<key>ErrorLog</key>
	<string>error.log</string>
	<key>DatabasePath</key>
	<string>/</string>
	<key>DatabaseName</key>
	<string>G2replicon.sqlite</string>
	<key>Sqlite3Path</key>
	<string>/usr/bin/sqlite3</string>
	<key>DefaultDebugLogLevel</key>
	<integer>0</integer>
	<key>DefaultReleaseLogLevel</key>
	<integer>2</integer>
	<key>GetExpenseURLID</key>
	<integer>1</integer>
	<key>SaveExpenseURLID</key>
	<integer>2</integer>
	<key>DeleteExpenseURLID</key>
	<integer>3</integer>
	<key>Version</key>
	<string>8.27.23.3</string>
	<key>ServiceURL_Production</key>
	<string>https://hosted.webtimesheet.com/CompanyName/RemoteApi/RemoteApi.ashx</string>
	<key>ServiceURL_Staging</key>
	<string>https://dev10.webtimesheet.dev.replicon.com/CompanyName/RemoteApi/RemoteApi.ashx/8.27.23.3</string>
	<key>ServiceURL_ToFetchCompanyURL</key>
	<string>https://dev10.login.dev.replicon.com/FetchRemoteApiUrl.ashx</string>
	<key>ForgotPasswordURL</key>
	<string>https://login.replicon.com/password_reset.aspx?CompanyKey=CompanyName</string>
	<key>SignUpURL</key>
	<string>http://www.replicon.com/a/_lp.aspx?utm_source=iTunes&amp;utm_campaign=iTunes&amp;utm_content=in_app_signup&amp;utm_medium=referral&amp;lead_source=MobileApp&amp;campaign=70170000000BeY7&amp;lppage=/lp/mobile/lp_time_tracking_software.aspx</string>
	<key>ServiceURL_ToFetchCompanyURL1</key>
	<string>https://dev10.login.dev.replicon.com/FetchRemoteApiUrl.ashx?companyKey=CompanyName&amp;version=8.27.23.3</string>
	<key>MostRecentExpenseSheetsCount</key>
	<integer>5</integer>
	<key>NextRecentExpenseSheetsCount</key>
	<integer>5</integer>
	<key>MostRecentTimeSheetsCount</key>
	<integer>5</integer>
	<key>NextRecentTimeSheetsCount</key>
	<integer>5</integer>
	<key>NextRecentApprovalsPendingSheetsCount</key>
	<integer>10</integer>
	<key>OfflineDataSyncIntervalSeconds</key>
	<integer>900</integer>
	<key>DomainName</key>
	<string>replicon.com</string>
	<key>TrialProductErrorMessage_Url</key>
	<string>https://login.replicon.com/Default.aspx?companykey=&lt;companykey&gt;&amp;username=admin&amp;utm_nooverride=1</string>
	<key>StagingBaseURLName</key>
	<string>login.dev</string>
	<key>ProductionBaseURLName</key>
	<string>services</string>
	<key>APIVersion</key>
	<string>8.29.33.5</string>
	<key>PaginatedProjectsClients</key>
	<integer>25</integer>
	<key>Gen3ItunesUrl</key>
	<string>https://itunes.apple.com/app/id462289490</string>
</dict>
</plist>
