<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fieldName</key>
		<string>Client/Project</string>
		<key>fieldType</key>
		<string>DataPicker</string>
		<key>default</key>
		<string>Select</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>Type</string>
		<key>fieldType</key>
		<string>DataPicker</string>
		<key>default</key>
		<string>Select</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>Amount</string>
		<key>fieldType</key>
		<string>MoveToAmount</string>
		<key>default</key>
		<string>Add</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>Date</string>
		<key>fieldType</key>
		<string>DatePicker</string>
		<key>default</key>
		<string>Select</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>Description</string>
		<key>fieldType</key>
		<string>MoveToDescripation</string>
		<key>default</key>
		<string>Add</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>BillClient</string>
		<key>fieldType</key>
		<string>CheckMark</string>
		<key>default</key>
		<string>Off</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>ReceiptPhoto</string>
		<key>fieldType</key>
		<string>ImagePicker</string>
		<key>default</key>
		<string>Add</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>Reimburse</string>
		<key>fieldType</key>
		<string>CheckMark</string>
		<key>default</key>
		<string>Off</string>
	</dict>
	<dict>
		<key>fieldName</key>
		<string>PaymentMethod</string>
		<key>fieldType</key>
		<string>DataPicker</string>
		<key>default</key>
		<string>Select</string>
	</dict>
</array>
</plist>
